/* main section */
.main {
  padding: 1rem;
}
.first {
  display: flex;
  flex-direction: column;
}
.image img {
  width: 100%;
}
.heading {
  margin-top: 1rem;
}
.text {
  margin-top: 4px;
  color: hsl(236, 13%, 42%);
}
.btn {
  margin-top: 1.5rem;
}
.btn button {
  height: 40px;
  width: 50%;
  min-width: 150px;
  cursor: pointer;
  background: hsl(5, 85%, 63%);
  letter-spacing: 3px;
  color: hsl(36, 100%, 99%);
  outline: 0;
  border: 0;
}
.new {
  margin-top: 4rem;
  background: hsl(240, 100%, 5%);
  padding: 1rem;
}
.new strong {
  color: hsl(36, 100%, 99%);
}
.new p {
  color: hsl(233, 8%, 79%);
}
h2 {
  color: hsl(35, 77%, 62%);
}
.btn button:hover {
  background: hsl(240, 100%, 5%);
}
.one p {
  margin-top: 8px;
}
a {
  text-decoration: none;
}
.new a strong:hover {
  color: hsl(35, 77%, 62%);
}
.one {
  margin-top: 2rem;
  border-bottom: 1px solid hsl(36, 100%, 99%);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h3 {
  color: hsl(233, 8%, 79%);
  font-size: 28px;
}
.second {
  margin-top: 4rem;
  background: hsl(36, 100%, 99%);
}
.set {
  display: flex;
  margin-top: 1rem;
}
.set img {
  width: 100px;
}
.set2 {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.set2 a {
  color: hsl(240, 100%, 5%);
  margin-top: 8px;
}
.set2 p {
  margin-top: 8px;
}
.set a:hover {
  color: hsl(5, 85%, 63%);
}

footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
}
h1 {
  font-size: 2.5rem;
}
@media screen and (max-width: 360px) {
  h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  /* main section */
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .main {
    padding: 0;
  }
  .image {
    grid-area: image;
  }
  .image img {
    width: 100%;
  }
  .heading {
    grid-area: heading;
    margin-top: 0;
  }
  .new {
    grid-area: new;
    margin-top: 0;
  }
  .text {
    grid-area: text;
    margin-top: 0;
  }
  .first {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "image image new"
      "heading text new";
  }
  h1 {
    font-size: 2rem;
  }
  .btn {
    margin-top: 2rem;
  }
  .btn button {
    height: 40px;
    width: 50%;
    cursor: pointer;
    background: hsl(5, 85%, 63%);
    letter-spacing: 3px;
    color: hsl(36, 100%, 99%);
    outline: 0;
    border: 0;
  }
  .new {
    padding: 8px;
  }
  .one {
    margin-top: 1rem;
  }
  .second {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4rem;
  }
  .second .set {
    display: flex;
  }
  .second img {
    width: 100px;
    height: 100%;
  }
  .set2 {
    margin-left: 8px;
    padding: 8px;
    margin-top: 0;
  }
  .set2 p {
    margin-top: 1rem;
  }

  footer {
    margin-top: 3rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 820px) {
  .logo {
    width: 40%;
  }
}
@media screen and (min-width: 998px) {
  .desktop-nav {
  }
  .desktop-links a {
    padding: 5px;
    font-size: 16px;
  }
  .logo {
    width: 40%;
  }
  .first {
    grid-gap: 2rem;
  }
  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .text {
    padding: 8px;
    line-height: 2rem;
    font-size: 18px;
  }
  .btn {
    margin-top: 3.5rem;
  }
  .btn button {
    height: 50px;
    /* width: 45%; */
  }
  .new {
    padding: 1.5rem;
  }
  .one {
    margin-top: 3rem;
  }
  .new h2 {
    font-size: 2rem;
  }
  .new p {
    font-size: 1rem;
    line-height: 2rem;
  }
  .new strong {
    font-size: 1.2rem;
  }
  .second {
    margin-top: 8rem;
  }
  .second img {
    width: 100%;
    height: 100%;
  }
  .set2 {
    justify-content: center;
  }
  .set2 strong {
    font-size: 20px;
  }
  .set2 p {
    font-size: 18px;
  }
}
